*.swo
*.swp
*~
\#*#

# exclude everything in root except files and directories from void-packages
/*
!/.editorconfig
!/.gitattributes
!/.github
!/.gitignore
!/.mailmap
!/CONTRIBUTING.md
!/COPYING
!/Manual.md
!/README.md
!/common
!/etc
!/srcpkgs
!/xbps-src
etc/conf
etc/conf.*
etc/repo-keys
etc/virtual
etc/xbps.d/custom
extra-srcpkgs/git-versions.csv
srcpkgs/git-versions.csv

# including virus-found/void-packages stuff below
!/build-extra
!/diff-srcpkgs/
!/etc/conf
!/extra-srcpkgs-archive/
!/extra-srcpkgs/
